<div class="container">
  <div class="row">
     <div class="col-md-8 offset-md-2">
      <div class="card login p-5">
        <h1 class="page-heading">ThanksCards</h1>
        <h2 class="page-heading">新規登録</h2>

        <%= form_for(@user, url: user_registration_path) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :nickname ,"ニックネーム・名前"%><br />
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname",class: "form-control mb-3" %>
        </div>

        <div class="field">
          <%= f.label :email ,"メールアドレス"%><br />
          <%= f.email_field :email, autocomplete: "email",class: "form-control mb-3" %>
        </div>

        <div class="field">
          <%= f.label :password ,"パスワード"%>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class: "form-control mb-3" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation ,"もう一度パスワード入力お願いします"%><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control mb-3" %>
        </div>

        <div class="actions">
          <%= f.submit "もっと教えて",class: "btn btn-warning btn-lg w-100 mb-4" %>
        </div>
        <% end %>

        <%- if controller_name != 'sessions' %>
        <%= link_to "ログインページへ", new_session_path(resource_name),class: "btn btn-info w-30" %><br />
        <% end %>
        
      </div>
    </div>
  </div>
</div>
