<%= render "shared/header" %>

<div class="container main">
  <div class="row">

    <div class="col-lg-4">
      <h1 class="my-4">カードを<br>贈ってみよう</h1>
      <%# 検索フォーム %>
      <%= form_with(url: search_users_path, local: true, method: :get,class: "d-lg-inline-block form-inline my-2 mw-100") do |form| %>
        <%= form.text_field :keyword, placeholder: "仲間を探す", class: "form-control bg-light  mr-2" %>
        <%= form.submit "検索", class: "btn btn-info" %>
      <% end %>
      <%# ユーザー名と詳細ページへの遷移、ランダムに３人%>
      <div class="list-group mb-1">
        <% @users.where.not(id: current_user.id).each do |user| %>
          <%= link_to user_path(user) do%>
            <div class="list-group-item mb-1 ">
              <%= user.nickname%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- /.col-lg-4 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<%= render "shared/footer" %>

