<%= render "shared/header" %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card send p-5">
        <h1 class="page-heading">感謝の気持ちを伝えよう</h1>

          <%=form_with model: @card,url: card_path, local: true do |f|%>

            <div class="field">
              <%= f.label :content,"メッセージ" %><br />
              <%= f.text_area :content,placeholder:"ありがとう＾＾",rows:"5" ,maxlength:"300",class: "form-control mb-3"%>
            </div>

            <div>
              <%= f.submit "編集の保存",class: "btn btn-info btn-lg w-100 mb-4" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>